.logo-container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.profile-img{
    border-radius: 50%;
    height: 15vw;
}
.logo-text{
    font-size: 7vw;
    font-weight: bold;
    text-align: center;
}
.scroll-text{
    position: absolute;
    top: 90vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    font-weight: bold;
}
.parallax-text{
    text-align: center;
    transition: opacity .8s;
    font-size: 4em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}


/* ---- fancy parallax stuff below ---- */
/* .parallax is the window that the user looks into. */
/* .parallax_group place base and back into these to create multiple parallax secitons */
/* .parallax_layer fixes window to all edges of screen. */
/* .parallax_layer-base places window closer on the z axis. */
/* .parallax_layer-back places window behind and scrolls slower. scale is -x+1 to be same size as the translateZ*/
/* .parallax_layer-fore if alternating paralax windows. back/base, then base/fore, back/base, etc. */
.parallax{
    perspective: 300px;
    height: 94vh; /*94vh compensates for header (6vh) size. Else, 2 scrollbars.*/
    overflow-x: hidden;
    overflow-y: auto;
  }
.parallax_group{
    position: relative;
    height: 94vh;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax_layer-base {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    z-index: 4;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

}
.parallax_layer-back {
    transform: translateZ(-300px) scale(2); 
    -webkit-transform: translateZ(-300px) scale(2);
    z-index: 3;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.parallax_layer-fore {
    -webkit-transform: translateZ(150px) scale(.5);
    transform: translateZ(150px) scale(.5);
    z-index:1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

}
.background{
    max-width: 100%;
    min-height: 100%;
    position: absolute;
    filter: brightness(.8);
    filter: blur(1px)
}
#groupTop{
    z-index: 5;
    background-color: rgb(73, 80, 85);
}
#group1{
    z-index: 3;
}
#group2{
    z-index: 4;
}
#groupBot{
    z-index: 3;
    background-color: rgb(73, 26, 25);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#bot-background{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    transform: translateZ(-300px) scale(2); 
    -webkit-transform: translateZ(-300px) scale(1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#group1 .parallax_layer-back{
    background-color: blueviolet;

}
#group2 .parallax_layer-base {
    background-color: rgb(226, 43, 73);
}