@font-face{
    font-family: 'kfc';
    src: url('./fritz-medium.otf')
}
*{
    font-family: 'kfc';
    color: white;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.808);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.nav{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
}
.nav:hover{
    background-color: rgba(255, 255, 255, 0.452);
}
.profile{
    margin-right: auto;
}
.profile-img{
    border-radius: 50%;
    height: 50px;
    padding: 10px;
}
.logo-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
body{
    font-size: larger;
    margin: 0;
}
.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 100vh 0;
}
.parallax__layer--base {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);    
}
.parallax__layer--back {
    transform: translateZ(-10px) scale(11);
    -webkit-transform: translateZ(-1px) scale(2);
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.418);
      
}
.parallax__group{
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}
.title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: blur(1px);
}
.section1{
    text-align: center;
    color: black;
    border-radius: 10px;
    height: 50vh;
    width: 90vw;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    background-color: rgba(194, 194, 194, 0.829);
}
.section2{
    text-align: center;
    color: black;
    border-radius: 10px;
    height: 50vh;
    width: 90vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(194, 194, 194, 0.829);
}